@model ETradingSystem1.Entities.Share

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Share</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SharesName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SharesName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SharePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SharePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShareQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShareQuantity)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ShareId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
